html,
body {
    min-width: 1200px;
    font-size: 12px;
}

.ly-top {
    height: 38px;
}
.ly-top-logo {
    float: left;
    width: 50%;
    height: 100%;
    background: url('./image/logo_top.png') no-repeat center center;
    background-size: auto 30px;
}
.ly-top-tap {
    float: left;
    width: 50%;
    height: 100%;
    line-height: 38px;
}
.ly-top-tap li {
    display: inline-block;
    height: 100%;
    padding: 0 10px;
    margin-right: 40px;
    border-bottom: 2px solid #FFF;
    box-sizing: border-box;
}

.ly-top-tap li.active {
    color: #FF7F00;
    border-bottom: 2px solid #FF7F00;
}
.index-con {
    
}
.index-con .index-top-bg {
 height: 500px;
 background: url('./image/index_banner.png') no-repeat left top;
 background-size: 100% 100%;
}


/* ====================  about.html ===================== */
.about-con .about-log-bg {
    height: 450px;
    background: url('./image/about_banner.png') no-repeat left top;
    background-size: 100% 100%;
}
.about-instr-outer {
    margin-top: 40px;
    text-align: center;
}
.about-instr-outer p {
    line-height:14px;
}
.about-instr-outer p:nth-of-type(1){
    font-weight:bolder;
    color:rgba(51,51,51,1);
    font-size: 14px;
}
.about-instr-outer p:nth-of-type(2){
    color:#FF7F00;
    font-size: 12px;
}
.about-instr-outer span {
    display: inline-block;
    width: 22px;
    height: 2px;
    background-color: #FF7F00;
}